/* MEDIA QUERIES POUR MOBILE */

@media (max-width: 768px) { 
  /* Supprimer les fleurs du footer en mobile */
  .nomination::before,
  .nomination::after {
    display: none;
  }
}

/* utilise l'image de fond en mobile et ajustement de taille*/
@media screen and (max-width: 700px) {
  .banner {
      min-height: 200px;
  }

  .background-video {
      display: none;
  }
}

@media (max-width: 768px) {
  .nomination-img {
    width: 100em; /* Ajuste la largeur pour les écrans mobiles */
  }
}

